* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Inter';
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 64px auto;
}

.card {
  box-shadow: 0 5px 10px .5px #b8aaf0;
  border-radius: 25px;
  max-width: 1300px;
  width: 100%;
  padding: 68px;
  border: 1px solid #D3D4D6;
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 64px;
  margin-top: 64px;

  .card-box {
    display: flex;
    flex-direction: column;
    gap: 32px;

    h2 {
      font-size: 43px;
      font-weight: 800;
      line-height: 47.3px;
      color: #6F4FF2;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 24px;
      width: 437px;
      border-radius: 8px;
      background-color: #F1F1F2;

      input {
        background-color: transparent;
        color: #67696F;
        font-weight: 400;
        font-size: 16px;
        border: none;
        outline: none;
      }
      button {
        border-color: #6F4FF2;
        padding: 10px 24px;
        border-radius: 8px;
        background-color: #6F4FF2;
        cursor: pointer;
        transition: all 0.3s linear;
        color: #fff;
        &:hover {
          background-color: transparent;
          color: #6F4FF2;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .card {
    padding: 50px;
  }

  .card-box .buttons {
    width: 100%;
    padding-left: 16px;
  }
}

@media (max-width: 1200px) {
  .card {
    padding: 40px;
  }

  .card-box h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .card-box .buttons {
    padding-left: 12px;
  }
}

@media (max-width: 992px) {
  .card {
    padding: 30px;
    margin: auto;
    max-width: 720px;

    .card-img{
      margin: auto;
      width: 313px;
      height: 420px;

    }

    .card-box{
      width: 313px;
      height: 420px;

      .buttons{
          position: relative;
          height: 48px;
          width: 313px;

          button{
              position: absolute;
              width: 100%;
              left: 0;
              top: 60px;
          }
      }
    }

    
  }

  
}

@media (max-width: 768px) {
  .card {
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;

    .card-img{
      width: 100%;
    }
    .card-box{
      width: 100%;
      .buttons{
          width: 100%;
      }
    }
  }

 
}



@media (max-width: 576px) {
  .card {
      margin: auto;
    padding: 20px;

    .card-img{
      width: 320px;
      height: 320px;

    }
    .card-box{
      padding: 20px;
      width: 100%;
    }
  }
  
}
.section {
  background-color: #202020;
  color: #fff;
}

.footer {
  padding-top: 68px;
  padding-bottom: 68px;
  .logo-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    border-bottom: 1.5px solid #D3D4D6;
  }

  .row {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    p {
      width: 370px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    h3 {
      font-weight: 700;
      font-size: 21px;
      line-height: 33px;
      display: flex;
      flex-direction: column;
      color: #866AFA;

      span {
        font-weight: 400;
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

/* Responsive design */


@media (max-width: 1200px) {
  .footer {
    padding: 50px;
  }

  .footer .row p {
    font-size: 14px;
    line-height: 22px;
  }

  .footer .row h3 {
    font-size: 18px;
    line-height: 30px;
  }

  .footer .row h3 span {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .footer {
    padding: 30px;
  }

  .footer .logo-message {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px;
  }

  .footer .row {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .footer .row p {
    width: 100%;
    margin-bottom: 16px;
  }

  .footer .row h3 {
    font-size: 16px;
    line-height: 28px;
  }

  .footer .row h3 span {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }

  .footer .logo-message {
    padding-bottom: 16px;
  }

  .footer .row p {
    font-size: 12px;
    line-height: 20px;
  }

  .footer .row h3 {
    font-size: 14px;
    line-height: 26px;
  }

  .footer .row h3 span {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .footer {
    padding-top: 15px;
  }

  .footer .logo-message {
    padding-bottom: 12px;
  }

  .footer .row p {
    font-size: 10px;
    line-height: 18px;
  }

  .footer .row h3 {
    font-size: 12px;
    line-height: 24px;
  }

  .footer .row h3 span {
    font-size: 8px;
  }
}
//  
